body, html {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    border: 2px solid #333;
    padding: 20px;
    width: 500px;
    text-align: center;
    background-color: #a6acfa;
  }
  
  .card img {
    width: 150px;
    height: 150px;
    margin: 20px;
  }
  
  .card p {
    text-align: center;
  }
  